:root {
    --background: #000430;
    --Sec-background: #171c48;
    --text: #fff;
    --purple: #828dff;
    --bar: #24feee;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background: var(--Sec-background);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 3px solid var(--purple);
}

h1 {
    text-align: center;
    color: var(--purple);
}

.task-summary {
    background: var(--purple);
    color: var(--text);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 4px;
    background-color: var(--background);
    color: var(--text);
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background: var(--bar);
    color: var(--text);
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}

button:hover {
    background: var(--purple);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid var(--purple);
    display: flex;
    align-items: center;
}

.task-checkbox {
    margin-right: 8px; /* Reduced margin */
    cursor: pointer;
}

.task-content {
    flex: 1; /* Ensure it takes up remaining space */
}

.completed {
    text-decoration: line-through;
    color: var(--bar); /* Optional: Change the color of completed tasks */
}

.edit-link {
    color: var(--purple);
    text-decoration: none;
    margin-left: 10px; /* Space between icons and other elements */
    cursor: pointer;
}

.delete-link {
    color: red;
    text-decoration: none;
    margin-left: 10px; /* Space between icons and other elements */
    cursor: pointer;
}

.edit-link i, .delete-link i {
    font-size: 18px; /* Size of the icons */
    transition: color 0.3s;
}

.edit-link:hover i {
    color: var(--bar);
}

.delete-link:hover i {
    color: var(--purple);
}
